@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.html {
    height: 100%;
    background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
}

* {
    margin: 0;
    padding: 0;
}

.align {
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-left: 20px;
    padding: 500px;
}

.textalign {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}


/* the home page */

.body {
    font-size: large;
    background-image: url('pexels-nao-triponez-129208.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav {
    margin: 27px auto 0;
    position: relative;
    width: 590px;
    height: 50px;
    background-image: url('pexels-nao-triponez-129208.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 110px;
}

a:nth-child(3) {
    width: 100px;
}

a:nth-child(4) {
    width: 160px;
}

a:nth-child(5) {
    width: 120px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #4441417a;
}

nav .start-about,
a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #4441417a;
}

nav .start-blog,
a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #4441417a;
}

nav .start-portefolio,
a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #4441417a;
}

nav .start-contact,
a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background-color: #4441417a;
}

.div {
    padding-top: 40px;
    padding-left: 600px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: grey;
    text-align: center;
}

.button2 {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #d3d3d3;
    color: rgb(231, 227, 245);
    cursor: pointer;
    transition: 0, 3s ease;
    background: transparent;
}

.button2:hover {
    background: white;
    color: black;
}

.footer1 {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: black;
}

.footer2 {
    position: static;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: black;
}


/*home page end */


/* the about page */

.container0 {
    height: 50vh;
    width: 40%;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img0 {
    height: 80px;
    width: 80px;
    background: url("chadi.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container0 h1 {
    color: white;
    margin-top: 50px;
}

.container0 p {
    color: white;
    margin-top: 50px;
    font-size: large;
}

.btn {
    background: no-repeat;
    outline: none;
    border: 1px solid white;
    width: 40%;
    padding: 7px 15px;
    font-size: large;
    cursor: pointer;
    transition: 0, 3s ease;
    margin-top: 10px;
}

.btn:hover {
    background: white;
    color: black;
}

.contentt {
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: left;
    color: #fff;
    padding-left: 50px;
}


/*about page end */

.contentt {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    color: #fff;
}

.contentt h1 {
    font-size: 70px;
    margin-top: 80px;
    align: center;
}

.contentt p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.body1 {
    font-size: large;
    background-image: linear-gradient(rgba(0, 0, 1, 0.801), rgba(0, 0, 1, 0.801)), url('pexels-adrien-olichon-2387532.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.nav1 {
    margin: 27px auto 0;
    position: relative;
    width: 590px;
    height: 50px;
    background-image: linear-gradient(rgba(0, 0, 1, 0.801), rgba(0, 0, 1, 0.801)), url('pexels-adrien-olichon-2387532.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 8px;
    font-size: 0;
}

.div2 {
    text-align: center;
    margin-right: 300px;
    padding-top: 40px;
    padding-left: 500px;
    color: white;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.container1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container1 .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container1 .contactInfo .box1 {
    position: relative;
    padding: 20px 0px;
    display: flex;
}

.container1 .contactInfo .box1 .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container1 .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 500;
}

.container1 .contactInfo .box1 .text h3 {
    font-weight: 500;
    color: #00bcd4;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}

.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 1s;
    color: #667
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    color: #160309;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width:991px) {
    .contact {
        padding: 50px
    }
    .container {
        flex-direction: column;
    }
    .container .contactInfo {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm {
        width: 100%;
    }
}

.text {
    color: white;
}


/* The Resume Page */

.align {
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-left: 20px;
    padding: 500px;
}

.textalign {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

nav {
    margin: 27px auto 0;
    position: relative;
    width: 590px;
    height: 50px;
    background-image: url('pexels-nao-triponez-129208.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 110px;
}

a:nth-child(3) {
    width: 100px;
}

a:nth-child(4) {
    width: 160px;
}

a:nth-child(5) {
    width: 120px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #4441417a;
}

nav .start-about,
a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #4441417a;
}

nav .start-blog,
a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #4441417a;
}

nav .start-portefolio,
a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #4441417a;
}

nav .start-contact,
a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background-color: #4441417a;
}

.nav1 {
    margin: 27px auto 0;
    position: relative;
    width: 590px;
    height: 50px;
    background-image: linear-gradient(rgba(0, 0, 1, 0.801), rgba(0, 0, 1, 0.801)), url('pexels-adrien-olichon-2387532.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 8px;
    font-size: 0;
}

.box {
    margin: 20px;
    padding: 10px;
}

.header {
    text-align: center;
    margin: 40px;
    color: white;
}

.body1 {
    font-size: large;
    background-image: linear-gradient(rgba(0, 0, 1, 0.801), rgba(0, 0, 1, 0.801)), url('pexels-adrien-olichon-2387532.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.button1 {
    width: 200px;
}


/*Project page*/

.containerP {
    min-width: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects {}

#projects .project {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 0;
}

#projects .section-title {
    font-size: 3rem;
    font-weight: 500;
    color: white;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
}

#projects .project-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#projects .project-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(1947484.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#projects .project-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}

#projects .project-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
    object-fit: cover;
}

#projects .project-bottom .icon img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#projects .project-item p {
    color: white;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}


/* end project page*/